*.swp
CMakeFiles/
build/
CMakeCache.txt
cmake_install.cmake
retrotool
imgui.ini
c_cpp_properties.json
state.json
config.json
vistella
version.h
Testing/
*.cmake
shared_cpp
/Makefile
components/Makefile
imgui/Makefile
system/Makefile
test/Makefile
windows/Makefile
asm/8bitworkshop/*.lst
asm/8bitworkshop/*.prg
asm/8bitworkshop/*.sym
