*.swp
CMakeFiles/
build/
CMakeCache.txt
cmake_install.cmake
retrotool
imgui.ini
c_cpp_properties.json
state.json
config.json
vistella
version.h
Testing/
RETAILROMS/
**/*.cmake
**/Makefile
components/Makefile
imgui/Makefile
system/Makefile
test/Makefile
windows/Makefile
utils/Makefile
filebrowser/Makefile
asm/8bitworkshop/*.lst
asm/8bitworkshop/*.prg
asm/8bitworkshop/*.bin
asm/8bitworkshop/*.sym
asm/misc/*.lst
asm/misc/*.prg
asm/misc/*.bin
asm/misc/*.sym
asm/davie/*.lst
asm/davie/*.prg
asm/davie/*.bin
asm/davie/*.sym
